Node-Red/Automatic Watering System.json
[{"id":"74e0880a.c777f8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"8b1596aa.376318","type":"arduino in","z":"74e0880a.c777f8","name":"","pin":"1","state":"ANALOG","arduino":"d7663aaf.47194","x":270,"y":340,"wires":[["105ef2cf.cb363d"]]},{"id":"3e713a43.b4e476","type":"arduino out","z":"74e0880a.c777f8","name":"","pin":"13","state":"OUTPUT","arduino":"d7663aaf.47194","x":1020,"y":340,"wires":[]},{"id":"105ef2cf.cb363d","type":"function","z":"74e0880a.c777f8","name":"","func":"if (msg.payload <= 300) {\n   msg.payload = true;\n} \nelse {\n   msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":340,"wires":[["52203dad.570a54"]]},{"id":"52203dad.570a54","type":"delay","z":"74e0880a.c777f8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":340,"wires":[["3e713a43.b4e476"]]},{"id":"d7663aaf.47194","type":"arduino-board","device":"COM3"}]